# "temporary" build files
/target

### Java template
*.class

# Eclipse Core
.project

### Eclipse template
*.pydevproject
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath